<html>

<head>
    <title></title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: linear-gradient(#ffffff, #b4b6b4);
        }
    </style>
</head>

<body>
    <!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Web_Ed</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class=" nav navbar-nav navbar-right">
                    <li><a href="/login">login</a></li>
                    <li><a href="/register">signup</a></li>
                    <li><a href="/logout">logout</a></li>

                </ul>

            </div>
        </div>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Datahanks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>

                    <% if(!currentUser){ %>
                        <li class="nav-item "><a class="nav-link " href="/login ">Login</a></li>
                        <li class="active nav-item">
                            <a class="nav-link" href="/register ">Signup</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="# ">Currently Logged in as <%=currentUser.username %> </a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/logout ">Logout</a></li>
                            <% } %>



                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div style=" box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3); margin-top: 5%;" class="container ">
        <div class="row">
            <div class="col-md-2">
                <p class="lead">DataHanks</p>
                <div class="list-group">
                    <li class="list-group-item active">Blog</li>


                    <!-- <li class="list-group-item">info 3</li> -->
                </div>
            </div>
            <div class="col-md-10">
                <div class="">

                    <div style="word-wrap: break-word">
                        <!-- <h4 class="pull-right">popular</h4> -->
                        <h1 style="text-align: center;font-weight: bolder;">


                            <%=blog.name  %>

                        </h1>


                        <hr>
                        <p>
                            <%- blog.content %>
                        </p>
                        <hr>
                        <p><em>Submitted by: <a href="/users/<%= blog.author.id %> "><%=blog.author.username  %> </a> </em></p>
                        <% if (currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin ) { %>
                            <a class="btn btn-warning btn-xs" href="/blogs/<%=blog._id  %>/edit"> Edit</a>
                            <form id="delete-form" action="/blogs/<%=blog._id  %>?_method=Delete" method="post">
                                <button class="btn btn-danger btn-xs">Delete</button>
                            </form>
                            <% } %>

                    </div>
                </div>
                <form action="/blogs/<%= blog._id %>/like" method="post">
                    <div class="btn-group pull-left">
                        <% if (currentUser && blog.likes.some(function (like) {
                            return like.equals(currentUser._id)
                        })) { %>
                            <button class="btn btn-sm btn-primary">
                                <i class="fas fa-thumbs-up"></i> Liked (<%= blog.likes.length %>)
                            </button>
                            <% } else { %>
                                <button class="btn btn-sm btn-secondary">
                                <i class="fas fa-thumbs-up"></i> Like (<%= blog.likes.length %>)
                            </button>
                                <% } %>

                    </div>
                </form>
                <div class="pull-right">
                    <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#hankLikes">
                        <span>Total likes: <i class="fas fa-thumbs-up"></i> <%= blog.likes.length %></span>
                    </button>
                </div>

                <h3>Leave a Review</h3>
                <hr>

                <div class="well">
                    <div class="text-right">
                        <a href="/blogs/<%= blog._id %>/comments/new" class="btn btn-success">comment</a>

                    </div>
                    <hr>
                    <% blog.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-mid-12">
                                <strong><%= comment.author.username  %></strong>
                                <span class="pull-right">10 days ago</span>
                                <p>

                                    <%= comment.text %>
                                </p>
                                <% if (currentUser && comment.author.id.equals(currentUser._id)|| currentUser && currentUser.isAdmin) { %>

                                    <a class="btn btn-xs btn-warning" href="/blogs/<%= blog._id  %>/comments/<%=comment._id  %>/edit  ">Edit</a>
                                    <form id="delete-form" action="/blogs/<%= blog._id  %>/comments/<%=comment._id  %>?_method=DELETE" method="post">
                                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                    </form>
                                    <% } %>
                            </div>
                        </div>

                        <% }) %>

                </div>
            </div>

        </div>
    </div>
    <!-- Campground Likes Modal -->
    <div id="hankLikes" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">hank likes:
                        <%= blog.likes.length %>
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Liked by:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% blog.likes.forEach(function(like) { %>
                                <tr>
                                    <td><span class="badge"><i class="fas fa-user"></i></span>
                                        <%= like.username %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% if (blog.likes.length === 0) { %>
                                        <tr>
                                            <td><em>No likes yet.</em></td>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <h1>
    
    </h1> -->








</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>
</body>

</html>





</html>